*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: 'Poppins', sans-serif;
}

.none{
    display: none;
}
.greenBorder{
    border: 1px solid green;
}
.redBorder{
    border: 1px solid red;
}
